h2 {
  text-align: center;
}

body {
  background: lightgray;
  text-align: center;
}

input[type=file]{
    display: inline-block;
    width: 15em;
}

input[type=number]{
  display: inline-block;
  width: 3em;
}

#images {
  display: block;
  position: absolute;
  top: 100px;
  left: 70px;
  margin: 5 auto;
}

